html {
  height: 100%;
  width: 100%;
}

body {
  background: url("./images/bg_noblur_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.landing {
  text-align: center;
  display: inline;
  margin: 0 auto;
  color: white;
  width: 5;
}

.left-brand-logo {
  margin-left: 10px;
}

.transparent {
  padding-top: 10px;
}

.banner-text {
  text-align: center;
  letter-spacing: 8px;
  padding-top: 5%;
  padding-bottom: 10%;
  color: white;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  padding-top: 40px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  line-height: 180%;
  font-weight: 300;
}

.row {
  margin-left: 10%;
  margin-right: 10%;
}

.icon-list figure {
  margin: auto;
  text-align: center;
}

.icon:hover {
  opacity: 0.5;
}

.icon-list figcaption {
  text-transform: uppercase;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}

.social-links {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5%;
}
.social-links i {
  color: white;
  font-size: 2em;
}

.devicons {
  text-align: center;
}

.devicons li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}
.devicons li i {
  color: white;
  font-size: 4em;
}

.material-icons {
  color: white;
}

.btn {
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-radius: 50%;
}

.btn:hover {
  background-color: #2e242c;
  border-radius: 50%;
  box-shadow: none;
}

.modal {
  max-height: calc(100% - 100px);
  transform: translate(-50%, -50%);
  background-color: #1b1b1b;
  user-select: none;
  color: white;
  pointer-events: auto;
}

.modal-title {
  font-weight: 300;
  font-size: 125%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
}

.profile-img {
  float: right;
  width: 35%;
  padding-left: 20px;
  padding-bottom: 40px;
}

:focus {
  outline: none;
}

.project-img {
  padding-top: 10px;
  text-align: center;
}

.project-links {
  text-align: center;
  margin-bottom: 5%;
}
.project-links a {
  color: white;
}
.project {
  margin: 5% 0 5% 0;
}

.project-links a:hover {
  color: #a9a9a9;
}

.modal-content {
  margin-bottom: 10%;
}

.banner_ad p {
  text-align: center;
  margin-bottom: 5px;
}

.email-ad p {
  text-align: center;
  margin-bottom: 5px;
}
